body{
  background-color: rgba(22, 228, 221, 0.981);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
 h2{
  text-align: center;
  margin: 20px 0; 
 }

 .textLeft{
  text-align: left;
 }

 .card{
  max-width: 450px;
  border: none;
  border-radius: 10px;
  background-color: aliceblue;
  margin: auto;
 }

 .image{
  min-width: 155px;
  margin-right: 20px;
 }

 .stats{
  background-color: rgb(183, 189, 223) !important;
  color: black !important;
 }

 .articles{
  font-size: 15px;
  color: black;
 }

 .number1{
  font-weight: 500;
 }

 .followers{
  font-size: 15px;
  color: black;
 }

 .number2{
  font-weight: 500;
 }

.rating{
  font-size: 15px;
  color: black;
}

 .number3{
  font-weight: 500;
 }